IntelliNest.xcodeproj/project.xcworkspace/xcuserdata/*
IntelliNest.xcodeproj/xcuserdata/tobias.xcuserdatad/xcschemes/xcschememanagement.plist
.xcbkptlist
xcdebugger
.DS_Store
IntelliNest-Info.xcconfig
# CocoaPods
Pods/
.nvim/
buildserver.json
